deepspeed==0.18.0
modelscope
tensorboardX
trl==0.24.0
spacy==3.8.4
selfcheckgpt

PyPDF2
pdf2image
reportlab
sentence-transformers==5.1.1
chromadb>=0.4.22
rank_bm25>=0.2.2
nltk==3.9.2
transformers==4.57.1
litellm==1.75.3
numpy==1.26.0
scikit-learn==1.7.2
openai==1.99.1
FlagEmbedding


rouge
jieba
bert_score
cn2an
Levenshtein
chinese2digits
jsonlines
textstat
evaluate
absl-py
rouge-score
nltk


mem0ai


whoosh

faiss-cpu

llama-index

umap-learn


vllm==0.11.2
torch==2.9.0
termcolor

protobuf==3.20.1

fastapi==0.119.0
